<style type="text/css">
.cl-14-black
{
	font-size: 40px;
	color: rgb(0, 0, 0);
}
.content-1
{
	font-size: 22px;
}
.content-1 p
{
	margin-bottom: 1.5em;
}
.img-123
{
	border: solid 6px #d4cece;
	border-radius: 200px;
	overflow: hidden;
}
.img-124
{
	border: solid 6px #d4cece;
	overflow: hidden;
}
.bg-142
{
    height: 18em;
}
.bg-3232
{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgb(247, 247, 247);
	outline: none;
}
.bg-3232 p.sub-header
{
	font-size: 22px;
}
</style>

<div class="full-row">
	<div class="fullContainer bg-img-fullcontainer" id="" data-title="Section" data-block-color="0074C7" style="background-image: url('../img/1asd.jpg');" data-trigger="none" data-animate="fade" data-delay="500" data-hide-on="">
		<div class="hm-headline">
			<b>INTRODUCING SMART AD ROLL</b>	
		</div>
		<div class="txtBlockWrapper white sb-header">
			<p>
				The Only
				<strong><span class="bg-green">Targeting Software</span></strong> 
				Of Its Kind That Will Take 
				<strong><span class="bg-blue">Video Advertising </span></strong>
				To The
				<strong><span class="bg-yellow">Next Level</span></strong> 
			</p>
		</div>
		<div class="txt-align-center">
			<img src="/img/Iphoneimacasasdfinal.gif" class="img-responsive elIMG ximg" alt="">
		</div>
	</div>
</div>
<div class="full-row"  style="background-image: url('../img/sec2bgs.jpg');">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-md-offset-3 txt-align-center">
				<div class="cl-14-black">
					<b>Is YouTube The Right Place To Market Your Products To Laser Targeted Audience?</b>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-7 content-1">
				<p>
					<b>YouTube</b> is the best platform to generate traffic, promote your products and make sales.
				</p>
				<p>
					I’ve been into YouTube marketing over three years promoting various products and services and helped my clients to achieve their goals.
				</p>
				<p>
					Video is quickly becoming the #1 asset for any business.
				</p>
				<p>
					Every day people watch hundreds of millions of hours on YouTube and generate more than 5 BILLION video views on YouTube alone.
				</p>
				<p>
					So I want to show you exactly how I have managed to generate millions of dollars of revenue for both myself and my clients over the past two years.
				</p>
			</div>
			<div class="col-sm-12 col-md-5">
				<img src="/img/YT-images2.png" class="img-responsive elIMG ximg" alt="">
			</div>
		</div>
		<div class="row">
			<div class="content-1">
				<div class="col-sm-12">
					<p>
						If you’re looking to get into video marketing, there’s no better channel than YouTube. 
					</p>

					<p>
						Youtube is the second most visited website on the entire internet, with over a billion users.
					</p>
					<p>
						Consumers are increasingly spending more time watching online videos which is making companies put more of their ad budget into digital video advertising.
					</p>
				</div>
				<div class="col-sm-12 col-md-7">
					<h2><b>Here's How And Why ...</b></h2>
					<div class="img-123">
						<img src="/img/3234k24.jpg" class="img-responsive elIMG ximg" alt="">
					</div>
				</div>
				<div class="col-sm-12 col-md-5">
					<p>
						My name is Venkata Konidala, founder of
						<b>Smart Ad Roll</b> and I run the <b>#1 Traffic Agency.</b>
						My Clients include name brands you’d recognize instantly, well known celebrities as well as really successful entrepreneurs and marketers.
					</p>
					<p>
						I have spent the past three years perfecting the art of video advertising on YouTube.
					</p>
					<p>
						Just a short 3 years ago I was stuck in a dead end J.O.B working paycheck to paycheck struggling to make enough to get by each month.
					</p>
				</div>
				<div class="col-sm-12">
					<p>
						I had invested THOUSANDS of dollars in online courses and programs that all made these wild claims that they would show me this underground secret that would allow me to be making 6 figures in 3 days flat...
					</p>
					<p>
						Heard something like that before? I would be shocked if you haven't!
					</p>
					<p>
						There are so many "Guru's" out there shooting the shit about how they can teach you to make millions overnight with zero work!
					</p>
					<p>
						But I hate to burst the bubble, but it's just not like that.
					</p>
					<p>
						I want to be upfront with you...
					</p>
					<p>
						With anything that you do, whether for yourself or a client - you WILL have to put in some effort and work.
					</p>
					<p>
						At least at the beginning stage.
					</p>
					<p>
						But if it’s going to be PROFITABLE then it’s worth it, especially because there are hacks to make it easier once you start getting the hang of things.
					</p>
					<p>
						My MISSION is to help you work SMARTER, FASTER and more EFFICIENT.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="full-row"  style="background-image: url('../img/bg.jpg');">
	<div class="container txt-align-center white bg-142">
		<br>
		<div class="col-sm-12 col-md-12">
			<h1>Here Are a Few of my Many Beta Testers</h1>
		</div>
		<div class="col-sm-12 col-md-3 padding-2">
			<iframe src="https://www.youtube.com/embed/tf88GFLtj18?autoplay=0&amp;controls=0&amp;showinfo=0&amp;title=0&amp;rel=0&amp;wmode=transparent" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" id="fitvid172433"></iframe>
		</div>
		<div class="col-sm-12 col-md-3 padding-2">
			<iframe src="https://www.youtube.com/embed/tf88GFLtj18?autoplay=0&amp;controls=0&amp;showinfo=0&amp;title=0&amp;rel=0&amp;wmode=transparent" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" id="fitvid172433"></iframe>
		</div>
		<div class="col-sm-12 col-md-3 padding-2">
			<iframe src="https://www.youtube.com/embed/tf88GFLtj18?autoplay=0&amp;controls=0&amp;showinfo=0&amp;title=0&amp;rel=0&amp;wmode=transparent" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" id="fitvid172433"></iframe>
		</div>
		<div class="col-sm-12 col-md-3 padding-2">
			<iframe src="https://www.youtube.com/embed/tf88GFLtj18?autoplay=0&amp;controls=0&amp;showinfo=0&amp;title=0&amp;rel=0&amp;wmode=transparent" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen="" mozallowfullscreen="" webkitallowfullscreen="" oallowfullscreen="" msallowfullscreen="" id="fitvid172433"></iframe>
		</div>
		<br>
	</div>
</div>
<div class="full-row">
	<div class="container content-1">
		<br>
		<h1 class="txt-align-center"><b>There Is No Such Thing As Free Traffic...</b></h1>
		<p>
			How is it free if it's costing you time?
		</p>
		<p>
			If you’ve ever played the SEO game, you know exactly what I’m talking about.
		</p>
		<p>
			So-called “free” traffic involves weeks, months, even years of writing content, begging for backlinks and watching your site slowly crawl up the Google rankings praying that it will eventually lead to you making money.
		</p>
		<p>
			Trust me, I've tried every form of traffic out there and I got fed up with how badly they converted.
		</p>
		<p>
			Free TRAFFIC attracts people who want things for free.
		</p>
		<p>
			Why waste hundreds of hours trying to fool an algorithm you have zero control over?
		</p>
		<p>
			You'll be competing with other people who are doing what you're doing and  you'll be at the mercy of Google.
		</p>
		<p>
			You could spend YEARS of your life on a website, building links, chasing people on social media, writing content, learning the latest SEO strategies and then...
		</p>
		<p>
			A new update suddenly wipes out all your hard work.
		</p>
		<p>
			Out of nowhere Google suddenly creates a new update and everything you've done goes to waste.
		</p>
		<p>
			I know Marketers who've experienced this and who had to start over from scratch and figure out a new game-plan.
		</p>
	</div>
</div>
<div class="full-row bg-3232">
	<div class="container">
		<br>
		<br>
		<div class="col-sm-12 col-md-12">
			<div class="txt-align-center">
				<h1><b>FINDING THE PERFECT MONETIZED VIDEOS USED TO BE A PAINFUL PROCESS…</b></h1>
				<p class="sub-header">Let me share with you a few of the steps I take when launching a new ad campaign.</p>
			</div>
		</div>
		<div class="col-sm-12 col-md-7">
			<div class="img-124">
				<img src="/img/john-schnobrich-520023-unsplash.jpg" class="img-responsive elIMG ximg" alt="">
			</div>
		</div>
		<div class="col-sm-12 col-md-5">
			
		</div>
	</div>
</div>