<div class="full-row header">
	<div class="container">
		<div class="col-sm-12 col-md-6 no-padding mrgn-btom-1em text-left">
			<div class="c-logo">
				<img class="img-fluid" src="../img/SARlogo.png">
			</div>
		</div>
		<div class="col-sm-12 col-md-6 text-right">
			<a href="#" class="elButton elButtonSize1 elButtonColor1 elButtonRounded elButtonPadding2 elBtnVP_10 elButtonFluid elBtnHP_25 elBTN_b_1 elButtonShadowN1 elButtonTxtColor1 elBTNone elButtonCorner15 elButtonBtn1">
				<span class="elButtonMain">
				<i class="fa_prepended fa fa-users">
				</i>Members Login</span>
				<span class="elButtonSub"></span>
			</a>
		</div>
	</div>
</div>